.App {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: gold;
  height: 100%
}

.channels {
  text-align: center;
}

.channels-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.channel-card{
  margin: 2em;
  width: 100%;
}

#header-container{
  color: #fff;
  font-weight: 600;
  font-size: 2em;
  background-color: #69bff8;
}

.streams {
  text-align: center;
  height: 100vh;
}
